{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "classProperties", "decorators-legacy"],
  "importOrder": ["reflect-metadata", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
