@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset start */
th,
td {
  padding: 0;
}

input:focus {
  outline: 0 none;
  border: 0 none;
}

button {
  font-size: initial;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* reset end */

:root {
  --color-page-bg: 5 22 21;
  --color-primary: 131 216 214;
  --color-primary-darker: 73 172 170;
  --color-primary-dark: 42 146 143;
  --color-secondary: 12 39 38;
  --color-secondary-darker: 7 24 24;
  --color-red: 255 0 92;
}

@layer components {
  /* layout start */
  .container {
    @apply max-w-full;
  }
  /* layout end */

  /* typography start */
  .typo-h1 {
    @apply text-xl font-bold uppercase;
  }
  .typo-title {
    @apply text-base;
  }
  .typo-control {
    @apply text-base;
  }
  .typo-text {
    @apply text-[14px] text-white/60;
  }
  /* typography end */
}
